<div class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 background transition-opacity ease-in-out duration-500"
         (click)="close()"
         [ngClass]="visible ? 'visible opacity-100' : 'invisible opacity-0'"></div>

    <div class="fixed inset-0 overflow-hidden overlay-container" [ngClass]="visible ? 'visible' : 'invisible'">
        <div class="absolute inset-0 overflow-hidden" #overlay>
            <div class="pointer-events-none absolute inset-y-0 left-0 flex max-w-full">
                <div class="pointer-events-auto w-screen transform transition ease-in-out duration-300"
                     [ngClass]="{
                           '-translate-x-full': !visible,
                           'translate-x-0': visible
                            }"
                >
                    <div class="flex h-full flex-col bg-white shadow-xl">
                        <div class="flex-1 height-full flex flex-col overflow-y-hidden py-6 sm:px-6">
                            <div class="flex items-center justify-between popup-header px-4">
                                <a [routerLink]="['/']" class="logo-link mt-2 mb-2" (click)="close()">
                                    <img alt="Le Bona official shop" class="w-10" src="assets/logo_black.svg">
                                </a>
                                <div class="flex">
                                    <vsf-language-selector class="mr-6"></vsf-language-selector>
                                    <button class="btn mr-1" (click)="close()">
                                        <fa-icon icon="close" class="text-white-400 text-lg"></fa-icon>
                                    </button>
                                </div>
                            </div>
                            <div>
                                <vsf-account-link [language]="language"></vsf-account-link>
                            </div>

                            <h2 class="text-md font-semibold text-gray-500 tracking-wider uppercase px-4 pt-4">
                                Catalog
                            </h2>
                            <ul class="border-b catalog" *ngIf="collectionTree$ | async as tree">
                                <li class="" *ngFor="let collection of tree.children">
                                    <a class="block cursor-pointer w-full text-gray-600 hover:bg-gray-50 hover:text-gray-900 group items-center px-4 py-2 font-medium rounded-md"
                                       (click)="onL0Click($event, collection)">{{ collection.name }}</a>
                                    <ul *ngIf="collection.children.length"
                                        [ngClass]="selected0 === collection.id ? 'block' : 'hidden'">
                                        <li class="level1" *ngFor="let level1 of collection.children">
                                            <a class="block cursor-pointer w-full pl-8 text-gray-600 hover:bg-gray-50 hover:text-gray-900 group items-center px-4 py-2 font-medium rounded-md"
                                               (click)="onL1Click($event, level1)">{{ level1.name }}</a>
                                            <ul *ngIf="level1.children.length"
                                                class="expandable"
                                                [class.expanded]="selected1 === level1.id">
                                                <li class="level2" *ngFor="let level2 of level1.children">
                                                    <a class=""
                                                       (click)="close()"
                                                       [routerLink]="['/category', level2.slug ]">{{ level2.name }}</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="grid grid-cols-1 gap-8 mt-8 px-4 xl:col-span-2">
                                <div class="md:grid md:grid-cols-2 md:gap-8">
                                    <div class="md:mt-0">
                                        <h3 class="text-sm font-semibold text-gray-500 tracking-wider uppercase">
                                            Support
                                        </h3>
                                        <ul class="mt-4 space-y-4" role="list">
                                            <li *ngFor="let item of navigation.support">
                                                <a
                                                        [href]="item.href"
                                                        class="text-base text-gray-500 hover:text-gray-600"
                                                >
                                                    {{item.name}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="md:grid md:grid-cols-2 md:gap-8">
                                    <div>
                                        <h3 class="text-sm font-semibold text-gray-500 tracking-wider uppercase">
                                            Company
                                        </h3>
                                        <ul class="mt-4 space-y-4" role="list">
                                            <li *ngFor="let item of navigation.company">
                                                <a
                                                        [href]="item.href"
                                                        class="text-base text-gray-500 hover:text-gray-600"
                                                >
                                                    {{item.name}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

