<div class="images">
    <span class="relative">
        <ng-template [ngIf]="!!color && selectedAsset?.id === selectedAssetId">
            <svg
                    width="12mm"
                    height="15mm"
                    viewBox="0 0 12 15"
                    version="1.1"
                    id="svg1"
                    xml:space="preserve"
                    sodipodi:docname="nail.svg"
                    inkscape:version="1.3.2 (091e20e, 2023-11-25, custom)"
                    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:svg="http://www.w3.org/2000/svg"
                    class="svg"
            >
                <defs id="defs1" />
                    <g
                            inkscape:groupmode="layer"
                            id="layer2"
                            inkscape:label="Слой 2">
                    <path
                            style="fill:#{{ color }};stroke-width:0.502154;stroke-linecap:round;paint-order:stroke markers fill"
                            d="m 0.4896917,10.502361 c 0,0 -1.079321,-3.5368521 -0.03321,-5.6954931 1.046111,-2.15864 2.440925,-3.63648 3.619875,-4.084813 1.178951,-0.448333 2.972283,-1.261974 5.064505,-0.19926 2.0922203,1.062715 2.9224673,2.407715 2.7398133,5.512839 -0.182654,3.105121 -0.215865,4.5663551 -0.381913,5.4464151 -0.166048,0.880064 -0.647593,3.022099 -2.2416653,3.188147 -1.594074,0.166051 -7.090307,0.19926 -7.887344,-1.843147 -0.797036,-2.042407 -0.880061,-2.324688 -0.880061,-2.324688 z"
                            id="path6" />
                </g>
            </svg>
            <span class="blink"></span>
            <div class="color-type">
                <div class="color"
                     [ngStyle]="{'background': '#'+color}"></div>
                <div class="color-number">{{ language === 'el' ? 'Χρώμα': 'Color' }}</div>
            </div>
        </ng-template>
        <img *ngIf="selectedAsset" [src]="selectedAsset | assetPreview:540" alt=""
             (click)="openImage(selectedAsset?.id)"
             (load)="onLoad()"
             class="w-full h-full object-center object-cover rounded-lg cursor-zoom-in"
        />
    </span>


    <div *ngIf="!selectedAsset || !featuredAssetLoaded"
         class="rounded-lg bg-gray-200 animate-pulse aspect-video w-full"></div>

    <div class="flex flex-wrap space-x-2 mt-2" *ngIf="1 < assets?.length">
        <div *ngFor="let asset of assets"
             (click)="selectImage(asset.id)">
            <img [src]="asset | assetPreview:'thumb'" class="rounded-lg select-none h-24 w-full object-cover">
        </div>
    </div>
</div>
