@import "variables";

.layout-header {
    background: #f9f9f9;
}

a {
    color: #272727;
}

//.logo-link {
//    display: flex;
//    align-items: center;
//
//    img.logo {
//        max-height: 42px;
//        animation: hue-rotate 10s infinite;
//    }
//
//    &:link, &:visited {
//        color: #0e95c7;
//        font-size: 22px;
//    }
//}

.main-logo {
    width: 18rem;

    &.mobile {
        width: 1.5rem;
    }
}

@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0deg) brightness(0.9);
  }

  100% {
    filter: hue-rotate(360deg) brightness(0.9);
  }
}

@media only screen and (max-width: 768px) {
    .layout-header {
        & > div {
            margin: 0 1rem;
        }
    }
}
