@import "variables";

a.btn {
    color: #272727;
    border-radius: 8px;

    &:hover {
        color: #4e4e4e;

        span {
            color: #4e4e4e;
        }
    }

    span {
        color: #272727;
    }
}

.mobile {
    a.btn {
        color: #ffffff;
        background: #3e77aa;
        min-width: 200px;
        line-height: 32px;
        display: inline-block;
        margin: 8px 0;

        span {
            color: #ffffff;
        }
    }
}

.bg {
    background: #f5f5f5;
    padding: 8px;
    border-radius: 8px;
    margin: 16px;
}
