@import "variables";

ul {
    padding-left: 4px;
}

@media only screen and (max-width: 992px) {
    .collapse-toggle {
        background: #f9f9f9;
        color: #3e77aa;
        position: fixed;
        z-index: 2;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        right: -4px;
        top: 11rem;
        border: 2px #3e77aa solid;
        font-size: 1.1rem;
    }

    #basic-collapse-heading {
        z-index: 5;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        padding-left: 30%;
        background: rgba(0,0,0, 0.7);
        transition: all 300ms;

        .container {
            width: 100%;
            height: 100%;
            background: #f9f9f9;
            padding: 0 12px 12px 20px;
            z-index: 1;
            position: relative;
        }

        &::before {
            position: absolute;
            content: "";
        }

        &.closed {
            left: 0;
            top: 0;
            padding-left: 100%;
            background: rgba(0,0,0, 0);
            visibility: hidden;
        }
    }
}