@import "variables";

//:host {
//    display: block;
//    margin-bottom: $spacer * 3;
//}
//
//.customer-address {
//    display: inline-block;
//    font-size: $font-size-sm;
//    padding: $spacer;
//    margin-right: $spacer;
//    margin-bottom: $spacer;
//    border-radius: $border-radius;
//    cursor: pointer;
//    border: 1px solid $gray-200;
//    transition: background-color 0.2s;
//
//    &:hover {
//        background-color: $light;
//    }
//}
//
//.shipping-method {
//    display: flex;
//
//    .price {
//        margin-left: $spacer;
//    }
//}

.checkVAT {
    .btn {
        line-height: 1.75rem;
    }

    .field {
        width: calc(50% - 0.5rem);
    }

    .ok-icon {
        right: 0.5rem;
        top: 0.5rem;
        /* background: #ffffff; */
        border: 1px #15803d solid;
        width: 1.25rem;
        height: 1.25rem;
    }
}

@media only screen and (max-width: 768px) {
    .checkVAT {
        .btn {
            line-height: 2rem;
        }

        .field {
            width: calc(100% - 140px);
        }

        .ok-icon {
            top: 0.65rem;
        }
    }
}