<form [formGroup]="addressForm">
    <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4"
         *ngIf="language$ | async as language">
        <div>
            <label
                htmlFor="fullName"
                class="block text-sm font-medium text-gray-700"
            >
                {{ language === 'el'? 'Ονοματεπώνυμο': 'Full Name'}}
                <span class="text-red-400">*</span>
            </label>
            <div class="mt-1">
                <input
                    type="text"
                    id="fullName"
                    name="fullName"
                    formControlName="fullName"
                    autoComplete="given-name"
                    required
                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
                />
            </div>
        </div>

        <div>
            <label
                htmlFor="company"
                class="block text-sm font-medium text-gray-700"
            >
                {{ language === 'el'? 'Εταιρεία': 'Company'}}
                <span class="text-red-400">*</span>
            </label>
            <div class="mt-1">
                <input
                    type="text"
                    name="company"
                    id="company"
                    formControlName="company"
                    required
                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500
            sm:text-sm"
                />
            </div>
        </div>

        <div class="sm:col-span-2">
            <label
                    htmlFor="phoneNumber"
                    class="block text-sm font-medium text-gray-700"
            >
                {{ language === 'el'? 'Τηλ/Κιν': 'Phone' }}
                <span class="text-red-400">*</span>
            </label>
            <div class="mt-1">
                <input
                        type="text"
                        name="phoneNumber"
                        id="phoneNumber"
                        formControlName="phoneNumber"
                        autoComplete="tel"
                        required
                        class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500
            sm:text-sm"
                />
            </div>
        </div>

        <div class="sm:col-span-2">
            <label
                htmlFor="streetLine1"
                class="block text-sm font-medium text-gray-700"
            >
                {{ language === 'el'? 'Διεύθυνση': 'Address' }}
                <span class="text-red-400">*</span>
            </label>
            <div class="mt-1">
                <input
                    type="text"
                    name="streetLine1"
                    id="streetLine1"
                    formControlName="streetLine1"
                    autoComplete="street-address"
                    required
                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500
            sm:text-sm"
                />
            </div>
        </div>

        <div class="sm:col-span-2">
            <label
                htmlFor="streetLine2"
                class="block text-sm font-medium text-gray-700"
            >
                {{ language === 'el'? 'Διαμέρισμα, σουίτα κ.λπ.': 'Apartment, suite, etc.' }}
            </label>
            <div class="mt-1">
                <input
                    type="text"
                    name="streetLine2"
                    id="streetLine2"
                    formControlName="streetLine2"
                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500
            sm:text-sm"
                />
            </div>
        </div>

        <div>
            <label
                htmlFor="city"
                class="block text-sm font-medium text-gray-700"
            >
                {{ language === 'el'? 'Πόλη': 'City' }}
                <span class="text-red-400">*</span>
            </label>
            <div class="mt-1">
                <input
                    type="text"
                    name="city"
                    id="city"
                    autoComplete="address-level2"
                    formControlName="city"
                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500
            sm:text-sm"
                />
            </div>
        </div>

        <div>
            <label
                htmlFor="countryCode"
                class="block text-sm font-medium text-gray-700"
            >
                {{ language === 'el'? 'Χώρα': 'Country' }}
                <span class="text-red-400">*</span>
            </label>
            <div class="mt-1">
                <select
                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
                    formControlName="countryCode" id="countryCode">
                    <option *ngFor="let country of availableCountries" [ngValue]="country.code">
                        {{ country.name }}
                    </option>
                </select>
            </div>
        </div>

        <div>
            <label
                htmlFor="province"
                class="block text-sm font-medium text-gray-700"
            >
                {{ language === 'el'? 'Περιφέρεια': 'State / Province' }}
            </label>
            <div class="mt-1">
                <input
                    type="text"
                    name="province"
                    id="province"
                    formControlName="province"
                    autoComplete="address-level1"
                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500
            sm:text-sm"
                />
            </div>
        </div>

        <div>
            <label
                htmlFor="postalCode"
                class="block text-sm font-medium text-gray-700"
            >
                {{ language === 'el'? 'Ταχυδρομικός κώδικας': 'Postal code' }}
                <span class="text-red-400">*</span>
            </label>
            <div class="mt-1">
                <input
                    type="text"
                    name="postalCode"
                    id="postalCode"
                    formControlName="postalCode"
                    autoComplete="postal-code"
                    class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500
            sm:text-sm"
                />
            </div>
        </div>
    </div>
</form>
